@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-container">

    <h1>Bienvenido al Sistema de Administración Automotriz</h1>
    <p>
        Gestione clientes, vehículos y trabajos de manera eficiente.

    </p>


</div>